footer{
    width: 100vw;
    height: auto;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;

        img{
            height: 70px;
        }
}