<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} Integra Saúde</title>
    <!-- Importando estilo -->
    {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "js_all" %}
    <script type=text/javascript href="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- Importando fontes do Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>
    {% include 'header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

    </div> <!-- /container -->

    <!-- jQuery -->
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <!-- Importando script DataTables -->
    <script src="/static/js/datatables.min.js"></script>
    <script src="/static/js/app.js"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>